<div class="column notification is-success is-three-quarters">
    <h3>Chatee con otras personas</h3>
    
    <label for="id">Ingrese su mail:</label>
    <input class="input is-warning is-medium" type="text" id="id" style="margin-top: 15px" />
    <label for="nombre">Ingrese su nombre:</label>
    <input class="input is-warning is-medium" type="text" id="nombre" style="margin-top: 15px" />
    <label for="apellido">Ingrese su apellido:</label>
    <input class="input is-warning is-medium" type="text" id="apellido" style="margin-top: 15px" />
    <label for="edad">Ingrese su edad:</label>
    <input class="input is-warning is-medium" type="text" id="edad" style="margin-top: 15px" />
    <label for="alias">Ingrese su alias:</label>
    <input class="input is-warning is-medium" type="text" id="alias" style="margin-top: 15px" />
    <label for="avatar">Ingrese su avatar:</label>
    <input class="input is-warning is-medium" type="text" id="avatar" style="margin-top: 15px" />
    <label for="texto">Ingrese un mensaje:</label>
    <input class="input is-warning is-medium" type="text" id="texto" style="margin-top: 15px" />
    <button id="enviar" class="button is-success is-light" style="margin-top: 15px">
        Enviar
    </button>
    <div style="margin-top: 15px" id="messages"></div>
</div>