<section>
    <div class="container mt-6" style="max-width: 500px">
        <form enctype="multipart/form-data" id="form">
            <h3 class="is-size-3 mb-5">Ingrese un nuevo producto</h3>
            <div class="field">
                <label class="label">Nombre</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Ingrese el nombre del producto" value=""
                        name="name" id="name" />
                </div>
            </div>

            <div class="field">
                <label class="label">Precio</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Ingrese el precio del producto" value=""
                        name="price" id="price"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Link imagen</label>
                <div class="control has-icons-left has-icons-right">
                    <input class="input is-success" type="text" placeholder="Ingrese el link de la imagen" value=""
                        name="image" id="image"/>
                </div>
            </div>

            <div class="field is-grouped">
                <div class="control">
                    <button id="btnProd" class="button is-success">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</section>