<div class="control has-icons-left has-icons-right columns m-4">
    <div class="column">
        <h2 class="is-size-3">Bienvenido alguien</h2>
    </div>
    <div class="column is-half m-4">

    </div>
    <div class="column">
        <div class="is-flex is-justify-content-end">
            <a href="http://localhost/logout">
                <button id="btnLogout" class="button is-link">Logout</button>
            </a>
        </div>
    </div>
</div>