<div class="control has-icons-left has-icons-right columns is-centered m-4">
    <div class="column is-half m-4">
        <form action="/login" method="post" role="form">
            <label class="label" for="username">Nombre de usuario: </label>
            <input class="input is-success" type="text" placeholder="Ingrese su nombre de usuario" value="" name="username"
                id="username" />

            <label class="label mt-4" for="password">Contraseña: </label>
            <input class="input is-success" type="password" placeholder="Ingrese su contraseña" value="" name="password"
                id="password" />

            <div class="is-flex is-justify-content-center mt-4">
                <button type="submit" id="btnLogin" class="button is-large is-success mt-4">Login</button>
            </div>
        </form>
        <div class="is-flex is-justify-content-center mt-4">
            <a class="ml-4" href="http://localhost/register">
                <button id="btnRegister" class="button is-large is-success mt-4">Registrase</button>
            </a>
        </div>
    </div>
</div>