<div class="control has-icons-left has-icons-right is-centered columns m-4">
    <div class="column is-half has-text-centered">
        <h2 class="is-size-3">Hasta Luego alguien</h2>
        <a href="http://localhost:8080/">
            <button class="button is-link">
                Volver a la pagina principal
            </button>
        </a>
    </div>
</div>